@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: #fe8a93;
  background: linear-gradient(to right, #fc5c7d, #6a82fb);
  font-family: arial, sans-serif;
}

a {
  text-decoration: none;
}

header {
  width: 100%;
  height: 80px;
  background: #222;
  text-align: center;
}

h1 {
  color: #ddd;
  padding: 20px 20px;
  font: 10px 40px;
  margin: 0;
  display: inline-block;
  animation: gaz 3s ease-in-out infinite;
}

.by {
  color: #ffffff;
  font-size: 16px;
  margin: 33px 0px;
  display: inline-block;
}

.heart {
  color: brown;
  display: inline-block;
  font-size: 20px;
  animation: heart 0.7s ease-in-out infinite;
}

header a {
  color: #03b3b5;
  font-size: 22px;
  margin: 28px 10px;
  display: inline-block;
}

header a:hover {
  text-decoration: underline;
}

.user-card {
  width: 350px;
  height: 500px;
  margin: 50px auto;
  position: relative;
  background: #fff;
  overflow: hidden;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.08);
  -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.08);
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.08);
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

input {
  width: 100%;
  height: 40px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border: 1px solid #dee3e4;
  padding: 3px 12px;
  margin: 6px 0;
}

input:focus {
  outline: none;
  border: 1px solid #03b3b5;
  transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
}

.login-box,
.signup-box {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: calc(100% - 25px);
  background: #fff;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

.login-box {
  padding: 20px 40px;
  right: 0px;
}
.logo {
  text-align: center;
  display: block;
  font-family: Pacifico;
  color: black;
  font-size: 34px;
  animation: Mp 3s ease-in-out infinite;
}
.signup-box {
  padding: 40px;
  right: -350px;
}

.login,
.signup {
  text-align: center;
  color: #fff;
  background: #000000;
  line-height: 30px;
  opacity: 0.95;
  cursor: pointer;
}

.login:hover {
  opacity: 1;
}

.or {
  display: block;
  width: 100%;
  height: 1px;
  border-bottom: 1px solid #dee3e4;
  position: relative;
  margin: 20px 0;
}

.or:before {
  content: "or";
  width: 40px;
  height: 18px;
  position: absolute;
  top: -5px;
  right: calc(50% - 20px);
  background-color: #fff;
  text-align: center;
  line-height: 10px;
  color: #555;
}

.login-with-fb,
.login-with-google,
.login-with-twitter {
  width: 100%;
  height: 40px;
  display: block;
  margin: 15px 0;
  color: #fff;
  text-align: center;
  line-height: 40px;
  font-size: 14px;
  opacity: 0.95;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}

.login-with-fb:hover,
.login-with-google:hover,
.login-with-twitter:hover {
  opacity: 1;
}

.login-with-fb {
  background: #527ebf;
}

.login-with-google {
  background: #db4a37;
}
.login-with-twitter {
  background: #1da1f2;
}

.login-with-fb .icon,
.login-with-google .icon,
.login-with-twitter .icon {
  float: left;
  font-size: 21px;
  width: 50px;
  height: 26px;
  margin: 7px;
  padding: 2px;
  text-align: center;
  border-right: 1px solid #fff;
}

/**** footer *****/

.user-card .footer {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 25px;
  text-align: center;
  color: #666;
  font-size: 13px;
  font-family: sans-serif;
}

.footer a {
  color: #03b3b5;
}

@keyframes heart {
  0% {
    transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
  }
  50% {
    transform: scale(1.5, 1.5);
    -ms-transform: scale(1.5, 1.5);
    -webkit-transform: scale(1.5, 1.5);
  }
  100% {
    transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
  }
}
@keyframes gaz {
  0% {
    font-size: 20px;
  }
  50% {
    font-size: 30px;
  }
  100% {
    font-size: 20px;
  }
}

@keyframes Mp {
  0% {
    color: #000;
  }
  20% {
    color: brown;
  }
  40% {
    color: darkblue;
  }
  60% {
    color: green;
  }
  80% {
    color: darkorange;
  }

  100% {
    color: #000;
  }
}
